<!-- exact table from live demo -->
<md-table-container class="mainTable">
    <table md-table md-row-select ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="onReorder">
            <tr md-row>
                <th md-column md-order-by="nameToLower"><span>Bank</span></th>
                <th md-column md-numeric md-order-by="cards.flag"><span>Flag</span></th>
                <th md-column md-numeric>Payment in</th>
                <th md-column md-numeric>Closing in</th>
                <th md-column md-numeric>Credit Card Number</th>
                <th md-column md-numeric>Sodium (mg)</th>
                <th md-column md-numeric>Calcium (%)</th>
                <th md-column md-numeric>Iron (%)</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="card" md-select-id="{{card.name}}" md-auto-select ng-repeat="card in cards">
                <td md-cell>{{card.name}}</td>
                <td md-cell>{{card.flag}}</td>
                <td md-cell>{{card.paymentDay | number: 1}}</td>
                <td md-cell>{{card.closingDay}}</td>
                <td md-cell>{{card.number}}</td>
                <td md-cell>Teste</td>
                <td md-cell>Tweste</td>
                <td md-cell>Ops</td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{cards.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
