<div layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Finance App</span>
            <!-- fill up the space between left and right area -->
            <span flex=25></span>
            <span class="menuButton">
                <i id="payment" ui-sref="paymentsList.add" class="material-icons md-48">credit_card</i>
                <label for="creditCard">Credit Card</label>
            </span>
            <span class="menuButton">
                <i id="creditCard" ui-sref="creditCardsList.add" class="material-icons md-48">receipt</i>
                <label for="creditCard">Payments</label>
            </span>
        </div>
    </md-toolbar>
</div>
